.homepage{
    width: 100%;
    background-color: aliceblue;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: 5px solid grey;
    
}

.body-2{
 background-color: rgb(241, 238, 238);
}

.title-head{
   height: 30px;
    padding: 0;
    margin: 0;
}
